@font-face {
    font-family: "Lato Regular";
    src: url(./fonts/Lato/lato-regular.ttf);
}
@font-face {
    font-family: "Lato Light";
    src: url(./fonts/Lato/lato-light.ttf);
}
@font-face {
    font-family: "Lato Italic";
    src: url(./fonts/Lato/lato-italic.ttf);
}
@font-face {
    font-family: "Lato Bold";
    src: url(./fonts/Lato/lato-bold.ttf);
}
@font-face {
    font-family: "Helvetica Neue";
    src: url(./fonts/Helvetica/helveticaneue.ttf);
}